.base {
    height: 276px;
    overflow-y: auto;
    width: 210px;
    background-color: white;
    border-radius: 0.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 15px 10px 25px 15px;

    table {
        tr {
            td {
                &:nth-child(1) {
                    padding-right: 20px;
                }
            }
        }
    }
}
