.base {
  background-color: rgb(203, 224, 241);
  min-height: 100vh;
}

.body {
  padding: 55px;

  .addDrink {
    padding-top: 20px;
    width: 100%;

    .add-drink-dropdown {
      margin-right: 15px;
    }

    .add-drink-input {
      width: 250px;
    }

    .add-drink-btn {
      margin-top: 20px;
    }
  }
}
